<div class="container">
    <h1 class="display-3">
      <strong class="primary">Student Details</strong> 
    </h1>
    <h1 class="display-3">
      <strong>User ID: {{userId}}</strong>
    </h1>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <th>Roll Number</th>
          <td>{{currentStudent.rollNumber}}</td>
        </tr>
        <tr>
          <th>First Name</th>
          <td>{{currentStudent.firstName}}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{currentStudent.lastName}}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{currentStudent.gender}}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{currentStudent.age}}</td>
        </tr>
        <tr>
          <th>Class Room</th>
          <td>{{currentStudent.classRoom.name}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{currentStudent.email}}</td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td>{{currentStudent.mobile}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{currentStudent.address}}</td>
        </tr>
      </tbody>
      </table>
    </div>

</div>
